:80 {
    @backend {
        path /api/* /metrics
    }

    handle @backend {
        reverse_proxy {$BACKEND_URL:backend:5000}
    }

    handle {
        reverse_proxy localhost:3000
    }

    log {
        output stdout
        format console
    }
}
