services:
  api:
    image: ghcr.io/dsgnr/corvin-backend:latest
    ports:
      - "5000:5000"
    volumes:
      - ./data:/data
      - ./downloads:/downloads
    environment:
      - TZ=UTC
    restart: unless-stopped

  frontend:
    image: ghcr.io/dsgnr/corvin-backend:latest
    ports:
      - "3000:3000"
    depends_on:
      api:
        condition: service_healthy
    restart: unless-stopped